{% extends 'polls/base.html' %}
{% block content %}
    <title>Book page</title>
    <div class="col bg-light rounded m-1 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="book_title text-secondary mb-3"><p><b>Название:</b></p> {{ book.title }}</div>
                    <div class="book_seria text-secondary mb-3"><p><b>Серия:</b></p> {{ book.serie }}</div>
                    <div class="book_autor text-secondary mb-3"><p><b>Автор:</b></p>{{ book.author }}</div>
                    <div class="book_pages text-secondary mb-3"><p><b>Количество страниц:</b></p>{{ book.pages }}</div>
                    <div class="book_lang text-secondary mb-3"><p><b>Язык:</b></p>{{ book.language }}</div>
                    <div class="book_rate text-secondary mb-3"><p><b>Рейтинг:</b></p> {{ book.rating }}</div>
                    <div class="book_content text-secondary mb-3"><p><b>Описание:</b></p>{{ book.content }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
