<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cultural center page</title>
</head>
<body>
<header>
  {% if user != 0 %}
        <a href="{% url 'recAll' id_user=user %}"><h1>Главная</h1></a>
        <a href="{% url 'book_searcher' id_user=user %}"><h1>Книги</h1></a>
        <a href="{% url 'event_searcher' id_user=user %}"><h1>События</h1></a>
        <a href="{% url 'cultural_center_searcher' id_user=user %}"><h1>Места</h1></a>
    {% else %}
        <a href="{% url 'enter_page' %}"><h1>Главная</h1></a>
    {% endif %}
</header>
<div>
    <p><b>Название:</b> {{ cultural_center.title }}</p>
    <p><b>Метро:</b> {{ cultural_center.underground }}</p>
    <p><b>Соц сети:</b> {{ cultural_center.social_net }}</p>
    <p><b>Веб сайт:</b> {{ cultural_center.web_site }}</p>
    <p><b>Email:</b> {{ cultural_center.email }}</p>
    <p><b>Адрес:</b> {{ cultural_center.adress }}</p>
    <p><b>Номер:</b> {{ cultural_center.number }}</p>
    <p><b>Долгота:</b> {{ cultural_center.longitude }}</p>
    <p><b>Широта:</b> {{ cultural_center.latitude }}</p>
    <p><b>Описание:</b> {{ cultural_center.content }}</p>
    <img src="{{ cultural_center.image }}" alt="Not found image">
</div>
</body>
</html>