{% extends 'polls/base.html' %}
{% block content %}
    <title>Event page</title>
    <div class="col bg-light rounded m-1 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="event_title text-secondary mb-3"><p><b>Название:</b></p> {{ event.title }}</div>
                    <div class="event_status text-secondary mb-3"><p><b>Статус:</b></p> {{ event.status }}</div>
                    <div class="event_start_date text-secondary mb-3"><p><b>Дата начала:</b></p> {{ event.date_start }}
                    </div>
                    <div class="event_start_time text-secondary mb-3"><p><b>Время начала:</b></p> {{ event.time_start }}
                    </div>
                    <div class="event_end_date text-secondary mb-3"><p><b>Дата конца:</b></p> {{ event.date_end }}</div>
                    <div class="event_time_end text-secondary mb-3"><p><b>Время конца:</b></p> {{ event.time_end }}
                    </div>
                    <div class="event_where text-secondary mb-3"><p><b>Где:</b></p> {{ event.name_center }}</div>
                    <div class="event_holiday text-secondary mb-3"><p><b>Событие:</b></p> {{ event.name_holiday }}
                    </div>
                    <div class="event_where text-secondary mb-3"><p><b>Что это:</b></p> {{ event.type_event }}</div>
                    <div class="event_price text-secondary mb-3"><p><b>Цена:</b></p> {{ event.price }}</div>
                    <div class="event_age_rate text-secondary mb-3"><p><b>Возрастной рейтинг:</b>
                    </p> {{ event.age_rate }}
                    </div>
                    <div class="book_content text-secondary mb-3"><p><b>Описание:</b></p> {{ event.content }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}