<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<header>
    <a href="{% url 'recAll' id_user=ID_user %}"><h1>Главная</h1></a>
    <a href="{% url 'book_searcher' id_user=ID_user %}"><h1>Книги</h1></a>
    <a href="{% url 'event_searcher' id_user=ID_user %}"><h1>События</h1></a>
    <a href="{% url 'section_searcher' id_user=ID_user %}"><h1>Кружки</h1></a>
    <a href="{% url 'profile' id_user=ID_user %}"><h1>Личный кабинет</h1></a>
</header>
<div>
    <h3>Поиск по описанию</h3>
    <form action="{% url 'event_searcher' id_user=ID_user %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="search_rec">
        <input id="content" type="text" name="content" maxlength="255" required>
        <input type="submit" value="Найти">
    </form>
</div>

<div>
    <h3>Поиск по названию</h3>
    <form action="{% url 'event_searcher' id_user=ID_user %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="search_title">
        <input type="text" name="pattern" maxlength="255" required>
        <input type="submit" value="Найти">
    </form>
</div>

<div>
    {% for event in recommend_events %}
        <a href="{% url 'event_detail' id_event=event.id id_user=ID_user %}">{{ event.title }}</a>

        <form action="{% url 'event_searcher' id_user=ID_user %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="type" value="event">
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <input type="submit" value="Хочу посетить">
        </form>
        <form action="{% url 'event_searcher' id_user=ID_user %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="type" value="delete_event">
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <input type="submit" value="Удалить из списка">
        </form>
    {% endfor %}

</div>


<div>
    <h3>Подобрать событие</h3>
    <form action="{% url 'event_searcher' id_user=ID_user %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="type" value="filter_search">
        <select name="type_center" required>
            <option value="default">Тип центра</option>
            {% for type_center in type_centers %}
                <option value="{{ type_center }}">{{ type_center }}</option>
            {% endfor %}
        </select>
        <select name="price" required>
            <option value="default">Цена</option>
            {% for price in prices %}
                <option value="{{ price }}">{{ price }}</option>
            {% endfor %}
        </select>
        <select name="type_event" required>
            <option value="default">Тип ивента</option>
            {% for type_event in type_events %}
                <option value="{{ type_event }}">{{ type_event }}</option>
            {% endfor %}
        </select>
        <select name="holiday" required>
            <option value="default">Праздник</option>
            {% for holiday in holidays %}
                <option value="{{ holiday }}">{{ holiday }}</option>
            {% endfor %}
        </select>
        <select name="age_rate" required>
            <option value="default">Возрастной рейтинг</option>
            {% for age_rate in age_rates %}
                <option value="{{ age_rate }}">{{ age_rate }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Поиск">
    </form>
</div>

<div>
    {% for event in finder_events %}
        <a href="{% url 'event_detail' id_event=event.id id_user=ID_user %}">{{ event.title }}</a>

        <form action="{% url 'event_searcher' id_user=ID_user %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="type" value="event">
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <input type="submit" value="Хочу посетить">
        </form>


        <form action="{% url 'event_searcher' id_user=ID_user %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="type" value="delete_event">
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <input type="submit" value="Удалить из списка">
        </form>
    {% endfor %}

</div>


</body>
</html>