<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Home page</title>
</head>
<header>
    <a href="{% url 'enter_page' %}"><h1>Главная</h1></a>
    <a href="{% url 'book_searcher' id_user=ID_user %}"><h1>Книги</h1></a>
</header>
<body>
<div>
    <p><b>Книги которые вам могут понравиться:</b></p>
    {% for parametr in Books %}
    <a href="{% url 'book_detail' id_book=parametr.id id_user=ID_user %}">{{ parametr.title }}</a>

    <form action="{% url 'add_last_book' id_user=ID_user id_book=parametr.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Хочу прочитать">
    </form>

    <br>
    {% endfor %}
    <br>
    <p><b>События которые вам могут понравиться:</b></p>
    {% for parametr in Events %}

    <a href="{% url 'event_detail' id_event=parametr.id id_user=ID_user %}">{{ parametr.title }}</a>
    <form action="{% url 'add_last_event' id_user=ID_user id_event=parametr.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Хочу посетить">
    </form>
    <br>
    {% endfor %}
    <br>
    <p><b>Места которые вам могут понравиться:</b></p>
    {% for parametr in Centers %}
    <a href="{% url 'cultural_center_detail' id_center=parametr.id id_user=ID_user %}">{{ parametr.title }}</a>
    <form action="{% url 'add_last_cultural_center' id_user=ID_user id_cultural_center=parametr.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Хочу посетить">
    </form>
    <br>
    {% endfor %}
</div>
</body>
</html>
