<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Home page</title>
</head>
<header>
    <a href="{% url 'enter_page' %}"><h1>Главная</h1></a>
</header>
<body>
<div>
    <p><b>Книги которые вам могут понравиться:</b></p>
    {% for parametr in Books %}
        <a href="{% url 'book_detail' id_book=parametr.id id_user=0 %}">{{ parametr.title }}</a>
        <br>
    {% endfor %}
    <br>
    <p><b>События которые вам могут понравиться:</b></p>
    {% for parametr in Events %}
        <a href="{% url 'event_detail' id_event=parametr.id id_user=0 %}">{{ parametr.title }}</a>
        <br>
    {% endfor %}
    <br>
    <p><b>Кружки которые вам могут понравиться:</b></p>
    {% for parametr in Sections %}
        <a href="{% url 'section_detail' id_section=parametr.id id_user=0 %}">{{ parametr.title }}</a>
        <br>
    {% endfor %}
</div>
</body>
</html>
