<html lang="ru">
    <head>
        <title>Book</title>
    </head>
    <body>
        <div>
            <p><b>Название:</b> {{ book.title }}</p>
            <p><b>Серия:</b> {{ book.serie }}</p>
            <p><b>Автор:</b> {{ book.author }}</p>
            <p><b>Количество страаниц:</b> {{ book.pages }}</p>
            <p><b>Язык:</b> {{ book.language }}</p>
            <p><b>Рейтинг:</b> {{ book.rating }}</p>
            <p><b>Описание:</b> {{ book.content }}</p>
        </div>
    </body>
</html>
