:root {
    --main-bg-color: #ffffff;
    --text-default-color: #000000;
    --register-button-bg-color: #e8e8e8;
    --imageblocks-margin: 45px;
}

.container__outer {
    margin: 2% 7%;
}

.header {
    margin-left: 0;
    margin-right: 0;

    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__link {
    display: inline-block;
    vertical-align: top;
    position: relative;

    font-family: "Roboto Bold", serif;
    color: black;
    font-size: 24px;

    text-decoration: none;
}

.login__box {
    display: inline-block;
    vertical-align: top;

    font-family: "Roboto Medium", serif;
    color: black;
    font-size: 20px;
    text-decoration: none;


    padding: 10px 25px;

    background-color: var(--register-button-bg-color);
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.login__box:hover {
    border-color: black;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    text-decoration: none;

    font-family: "Roboto Regular", serif;
    color: black;
    font-size: 20px;
}

.nav__link:after, .title__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: black;
    opacity: 0;

    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover:after, .title__link:hover:after{
    opacity: 1;
}



.main_image_content {
    display: block;
    margin-top: var(--imageblocks-margin);

    width: 100%;
    height: auto;

    border-radius: 20px;
}

.main_image {
    position: relative;
}

.bg__main {
    position: relative;

    z-index: 0;

    top: 0;
    left: 0;

    opacity: 0.89;
}

.boy__main {
    position: absolute;

    z-index: 1;

    width: auto;
    height: 95%;

    right: 5%;
    bottom: 0;
}

.girl__main {
    position: absolute;

    z-index: 1;

    width: auto;
    height: 90%;

    left: 5%;
    bottom: 0;
}

.line__main {
    position: absolute;

    z-index: 1;

    width: 65%;

    left: 18%;
    bottom: 7%;
}

.main_image__main__text {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;

    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 2;

    font-family: "Exo 2 SemiBold", serif;
    font-size: 40px;
    color: white;
}

.main__text__help {
    white-space: pre;
    padding-bottom: 6px;
}

.main__text__help_u {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}