:root {
    --main-bg-color: #ffffff;
    --text-default-color: #000000;
    --register-button-bg-color: #e8e8e8;
    --imageblocks-margin: 45px;
}

.container__outer {
    margin: 3% 7%;
}

.header {
    margin-left: 0;
    margin-right: 0;

    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    font-family: "Roboto Bold", serif;
    color: black;
    font-size: 24px;

    text-decoration: none;
}

.login__box {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;

    font-family: "Roboto Medium", serif;
    color: black;
    font-size: 20px;
    text-decoration: none;


    padding: 10px 25px;

    background-color: var(--register-button-bg-color);
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.login__box:hover {
    border-color: black;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    text-decoration: none;

    font-family: "Roboto Regular", serif;
    color: black;
    font-size: 20px;
}

.nav__link:after, .title__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: black;
    opacity: 0;

    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover:after, .title__link:hover:after{
    opacity: 1;
}

.main_image_content {
    margin-top: var(--imageblocks-margin);
    max-width: 100%;
}

.main_image_content > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
}
