<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<header>
    <a href="{% url 'enter_page' %}"><h1>Главная</h1></a>
</header>
<body>
{% block content %}
    {% if error != None %}
        <p> {{ error }} </p>
    {% endif %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        <label for="username"><b>Username:</b></label><br>
        <input type="text" id="username" name="username" maxlength="255" required><br>

        <label for="password"><b>Password:</b></label><br>
        <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z).{6,}"><br>

        <input type="hidden" name="type" value="login">
        <button type="submit" class="btn btn-success">Enter</button>
    </form>
{% endblock %}
</body>
</html>