<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<header>
    <a href="{% url 'recAll' id_user=user %}"><h1>Главная</h1></a>
    <a href="{% url 'book_searcher' id_user=user %}"><h1>Книги</h1></a>
    <a href="{% url 'event_searcher' id_user=user %}"><h1>События</h1></a>
    <a href="{% url 'cultural_center_searcher' id_user=user %}"><h1>Места</h1></a>
    <a href="{% url 'profile' id_user=user %}"><h1>Личный кабинет</h1></a>
</header>
<body>
<p>Прочитал книг:</p> {{ last_read }}
<p>Посетил событий:</p> {{ last_event }}
<p>Посетил мест:</p> {{ last_center }}

<p>
<h3>Мои книги</h3></p>

{% for each in book %}
    <a href="{% url 'book_detail' id_book=each.id id_user=user %}">{{ each.title }}</a>

    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="read_book">
        <input type="hidden" name="id_book" value="{{ each.id }}">
        <input type="submit" value="Хочу прочитать">
    </form>
    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="delete_book">
        <input type="hidden" name="id_book" value="{{ each.id }}">
        <input type="submit" value="Удалить из списка">
    </form>
{% endfor %}

<p>
<h3>Мои события</h3></p>
{% for each in event %}
    <a href="{% url 'event_detail' id_event=each.id id_user=user %}">{{ each.title }}</a>

    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="visit_event">
        <input type="hidden" name="id_event" value="{{ each.id }}">
        <input type="submit" value="Посетил">
    </form>
    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="delete_event">
        <input type="hidden" name="id_event" value="{{ each.id }}">
        <input type="submit" value="Удалить из списка">
    </form>

{% endfor %}

<p>
<h3>Мои места</h3></p>
{% for each in center %}
    <a href="{% url 'cultural_center_detail' id_center=each.id id_user=user %}">{{ each.title }}</a>

    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="visit_cultural_center">
        <input type="hidden" name="id_cultural_center" value="{{ each.id }}">
        <input type="submit" value="Посетил">
    </form>
    <form action="{% url 'profile' id_user=user %}" method="post">

        {% csrf_token %}
        <input type="hidden" name="type" value="delete_cultural_center">
        <input type="hidden" name="id_cultural_center" value="{{ each.id }}">
        <input type="submit" value="Удалить из списка">
    </form>

{% endfor %}
</body>
</html>